version: "3.9"

services:
  spark-iceberg:
    image: tabulario/spark-iceberg
    container_name: spark-iceberg
    # REMPLACER 'deployment:' par 'mem_limit:' et 'mem_reservation:' 
    mem_limit: 8G
    mem_reservation: 6G
    cpus: 2.0
    networks:
      iceberg_net:
    depends_on:
      - rest
      - minio
    volumes:
      - ./warehouse:/home/iceberg/warehouse
      - ./notebooks:/home/iceberg/notebooks/notebooks
      - ./data:/home/iceberg/data
    environment:
      - AWS_ACCESS_KEY_ID=minioadmin
      - AWS_SECRET_ACCESS_KEY=minioadmin123
      - AWS_REGION=us-east-1
      - SPARK_DRIVER_MEMORY=4g
      - SPARK_EXECUTOR_MEMORY=4g
      - SPARK_DRIVER_MAX_RESULT_SIZE=2g
      - JAVA_OPTS=-Xmx4g -Xms2g -XX:+UseG1GC -XX:MaxGCPauseMillis=100
    ports:
      - 8888:8888   # Jupyter
      - 8080:8080   # Spark UI
      - 10000:10000
      - 10001:10001

  rest:
    image: tabulario/iceberg-rest
    container_name: iceberg-rest
    networks:
      iceberg_net:
    ports:
      - 8181:8181
    environment:
      - AWS_ACCESS_KEY_ID=minioadmin
      - AWS_SECRET_ACCESS_KEY=minioadmin123
      - AWS_REGION=us-east-1
      - CATALOG_WAREHOUSE=s3://warehouse/
      - CATALOG_IO__IMPL=org.apache.iceberg.aws.s3.S3FileIO
      - CATALOG_S3_ENDPOINT=http://minio:9000

  minio:
    image: minio/minio
    container_name: minio
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin123
      - MINIO_DOMAIN=minio
    networks:
      iceberg_net:
        aliases:
          - warehouse.minio
    ports:
      - 9001:9001
      - 9000:9000
    command: ["server", "/data", "--console-address", ":9001"]
    volumes:
      - minio_data:/data

  mc:
    depends_on:
      - minio
    image: minio/mc
    container_name: mc
    networks:
      iceberg_net:
    environment:
      - AWS_ACCESS_KEY_ID=minioadmin
      - AWS_SECRET_ACCESS_KEY=minioadmin123
      - AWS_REGION=us-east-1
    entrypoint: >
      /bin/sh -c "
      until (/usr/bin/mc alias set minio http://minio:9000 minioadmin  minioadmin123 ) do echo '...waiting...'; sleep 1; done;
      /usr/bin/mc mb minio/warehouse --ignore-existing;
      tail -f /dev/null"
      
  trino:
    image: trinodb/trino:latest
    container_name: trino
    depends_on:
      - rest
      - minio
    ports:
      - "8083:8080"        # UI Trino sur http://localhost:8083
    volumes:
      - ./trino/etc/catalog:/etc/trino/catalog
    networks:
      - iceberg_net

  superset:
    image: apache/superset:latest
    container_name: superset
    depends_on:
      - trino
    environment:
      - SUPERSET_LOAD_EXAMPLES=no
      - SUPERSET_SECRET_KEY=changeme_une_grande_chaine_random
    ports:
      - "8088:8088"   # UI Superset -> http://localhost:8088
    volumes:
      - ./superset_home:/app/superset_home
    networks:
      - iceberg_net
    command: >
      sh -c "superset db upgrade &&
      superset init &&
      gunicorn --bind 0.0.0.0:8088 --workers 3 'superset.app:create_app()'
      "



networks:
  iceberg_net:

volumes:
  minio_data: